<div style="width : 100%">
		<table style="width : 100% float : left">
			<tr>
				<td colspan="2"></td>
				<td align='center'><h3>Adding Recipe</h3></td>
			</tr>

			<tr>
				<td style="width : 10%"></td>
				<td  style = 'width : 5%'> Title</td>
				<td><input type="text" ng-model='addTitle'></input></td>
				<td></td>
			</tr>
					
			<tr>
				<td></td>
				<td>Tags</td>
				<td style="width : 20%"><input type='text' ng-model="tagg" align='right'></input></td>
				<td>
					<button ng-click="addTag()" ng-disabled="tagg == ''">add</button>
				</td>
			</tr>

			<tr >
				<td></td>
				<td></td>
				<td colspan="2"> <p>{{ addedTags.join('  ') }}</p></td>
			</tr>
						
			<tr>
				<td></td>
				<td >Ingredients</td>
				<td>
					<table>
						<tr>
							<td>Quanity: </td>
							<td><input type="text" ng-model="qty"></td>
						</tr>
						<tr>
							<td>Units: </td>
							<td><input type="text" ng-model="unit"></input></td>
						</tr>
						<tr>
							<td>Ingredient: </td>
							<td><input type="text" ng-model="ingre"></input></td>
						</tr>
					</table>
				</td>
				<td><button ng-click="addIngredient()" ng-disabled="qty=='' || unit=='' || ingre== ''">add</button></td>
			</tr>
			<tr>
				<td></td>
				<td colspan="3">
					<span> Added: {{ addingIngredient.ingre.join(' ') }}</span>
				</td>
			</tr>
		</table>
		<input type="button" value="Add Recipe" ng-click="addRecipe()"></input>
	</div>
	<div>
		<table align="left" style="width : 100%">
			<tr>
				<td></td>
				<td><h3>Search</h3></td>
			</tr>
			<tr>
				<td style="width : 10%" align='center'>Title</td>
				<td style="width : 10%"><input type="text" ng-model='title'></td>
				<td style="width : 50%"></td>
			</tr>
			<tr>
				<td align='center'>Tags</td>
				<td><input type="text" ng-model='tags'></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="button" value="Search" ng-click="Search()"></td>
			</tr>
		</table>
	</div>
	<div>
		<h4 ng-show="searchResults.length != 0"> Found {{ searchResults.length }} results</h4> 
		<p> Sort by
		<select ng-init="sorting='title'" ng-change="sortByKey()" ng-model="sorting">
				<option value="title">title</option>
				<option value="time">time</option>
				<option value="added">added</option>
		</select> </p>  <br>
		<ul>
			<li ng-repeat="recipe in searchResults">
				<a  href='/#/recipes/recipename/{{recipe._id}}'> {{ recipe.title }} </a>
			</li>
		</ul>
	</div>
<!--	<p> {{searchResults}}</p>-->
<!--	<a href ng-click='getDetail(searchResults[0]._id)'>test</a>-->
<!--	<p> {{ recipedetail }} </p>-->
<!--	'/#/recipes/recipename'-->