<div>
<!--	<p> {{ recipedetail }}</p>-->
	<table style="width : 30%" border='1' align='center'>
		<tr>
			<td>
			<p> Title: {{ recipedetail[0].title }} </p> 
			<p ng-show="recipedetail[0].time"> Cooking Time  : {{ recipedetail[0].time}} </p>
			<div ng-show="recipedetail[0].tags.length != 0">
				<p> Tags :</p>
				<ul>
					<li ng-repeat="one in recipedetail[0].tags">
						{{ one }}
					</li>
				</ul>
			</div>
			<div ng-show="recipedetail[0].ingredients.length != 0">
				<p> Ingredients :</p>
				<ul>
					<li ng-repeat="one in recipedetail[0].ingredients">
						{{ one.qty}} {{ one.units }} {{ one.ingredient }}
					</li>
				</ul>
			</div>
			<p ng-show="recipedetail[0].instructions"> Instruction : {{ recipedetail[0].instructions }} </p>
			<p> Added Time : {{ recipedetail[0].added}} </p>
			</td>
		</tr>
		<tr>
			<td>
			<a href='/#/recipes' style="text-align : center">Back</a>
			</td>
		</tr>
	</table>
	
	<div>
		<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#edit">Edit</button>
		<div class="modal fade" id="edit" role="dialog">
			<div class="model-dialog">
				<div class="modal-content">
					<div class="modal-header">
        				<button type="button" class="close" data-dismiss="modal">&times;</button>
          				<h4 class="modal-title">Modal Header</h4>
        			</div>
        			<div class="modal-body">
         				<p>Some text in the modal.</p>
        			</div>
        			<div class="modal-footer">
          				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        			</div>
				</div>
			</div>
		</div>
	</div>
</div>