			<div>
				<table align="left" style="width : 100%">
					<tr>
						<td></td>
						<td><h3>Search</h3></td>
					</tr>
					<tr>
						<td style="width : 10%" align='center'>Title</td>
						<td style="width : 10%"><input type="text" ng-model='title'></td>
						<td style="width : 50%"></td>
					</tr>
					<tr>
						<td align='center'>Tags</td>
						<td><input type="text" ng-model='tags'></td>
					</tr>
					<tr>
						<td align='center'>Max Cooking Time</td>
						<td><input type='text' ng-model='maxTime'></input></td>
					</tr>
					<tr>
						<td></td>
						<td><input type="button" value="Search" ng-click="Search()">
						</td>
							
					</tr>
				</table>
			</div>
			<div>
				<h4 ng-show="searchResults.length != 0"> Found {{ searchResults.length }} results</h4> 
				<p> Sort by
				<select ng-init="sorting='title'" ng-change="sortByKey()" ng-model="sorting">
						<option value="title">title</option>
						<option value="time">time</option>
						<option value="added">added</option>
				</select> </p>  <br>
				
<!--Search Results-->
				<div>
					<div class="col-sm-3" ng-repeat='recipe in searchResults | orderBy: Key | startFrom : (page - 1) * 10 | limitTo : 10'>
						<div class="panel panel-primary">
							<div class="panel-heading">
								<table style='width : 100%'>
									<tr>
										<td style="width : 95%"><h3 class="panel-title"><a  href='/#/recipes/recipename/{{recipe._id}}'> {{ recipe.title }} </a></h3></td>
										<td><a href class="pull-right clickable glyphicon glyphicon-remove panel-title" ng-click="deleteRecipe(recipe._id, recipe)"></a></td>
									</tr>
								</table>
								
								
							</div>
							<div class="panel-body">
								{{ recipe.added }}
							</div>
						</div>
					</div>
				</div>
			</div>
			
			
<!--Sort dropdown-->
			<div class="btn-group">
			  <button type="button" class="btn btn-default">Sort By</button>
			  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
			    <span class="caret"></span>
			    <span class="sr-only">Toggle Dropdown</span>
			  </button>
			  <ul class="dropdown-menu" role="menu">
			    <li><a href ng-click="sortByKey('title')">Title</a></li>
			    <li><a href ng-click="sortByKey('time')">Cooking time</a></li>
			    <li><a href ng-click="sortByKey('added')">Added time</a></li>
			  </ul>
			</div>
			
			<nav>
			  <ul class="pagination">
			    <li><a href aria-label="Previous" ng-click="changeToPrev()"><span aria-hidden="true">&laquo;</span></a></li>
				<li ng-repeat='i in pages' ng-class="currentpage == i ? 'active' : ''">
					<a href ng-click='changeTo(i)'>{{ i }} <span class="sr-only">(current)</span></a>
				</li>	
			    <li><a href aria-label="Next" ng-click="changeToNext()"><span aria-hidden="true">&raquo;</span></a></li>
			    
			  </ul>
			</nav>

