<!DOCTYPE html>
<html>
<head>
	<title>Recipe Manager</title>
	<script src="./scripts/angular.min.js"></script>
</head>
<body ng-app="recipeManager" ng-controller="recipeCtrl">
	<h1 align="center">Recipe Manager</h1>
	<div style="width : 100%">
		<table style="width : 100%" border='1'>
			<tr>
				<td colspan='2' align='center'><h3>Adding Recipe</h3></td>
			</tr>
			<tr>
				<td> Title</td>
				<td><input type="text" ng-model='addTitle'></input></td>
			</tr>
			<tr>
				<td>Tags</td>
				<td><input type='text' ng-model="tagg" align='right' style='width : 50%'></input></td>
				<td>
					<button ng-click="addTag()" ng-disabled="tagg == ''">add</button>
				</td>
				<td colspan="2" style="width : 80%"> <p>{{ addedTags.join('  ') }}</p></td>
			</tr>
			<tr>
				<td>Ingredients</td>
				<td colspan="3">
					Quanity: <input type="text" ng-model="qty"></input>
					Units: <input type="text" ng-model="unit"></input>
					Ingredient: <input type="text" ng-model="ingre"></input>
					<button ng-click="addIndregient()" ng-disabled="qty=='' || unit=='' || ingre== ''">add</button>
				</td>
			</tr>
		</table>
		<input type="button" value="Add Recipe" ng-click="addRecipe()"></input>
	</div>
	<div>
		<table align="left" style="width : 100%">
			<tr>
				<td></td>
				<td><h3>Search</h3></td>
			</tr>
			<tr>
				<td style="width : 10%">Title</td>
				<td stype="width : 10%"><input type="text" ng-model='title'></td>
			</tr>
			<tr>
				<td>Tags</td>
				<td><input type="text" ng-model='tags'></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="button" value="Search" ng-click="Search()"></td>
			</tr>
		</table>
	</div>
	<div>
		<h4 ng-show="searchResults.length != 0"> Found {{ searchResults.length }} results</h4> 
		<p> Sort by
		<select ng-init="sorting='title'" ng-change="sortByKey()" ng-model="sorting">
				<option value="title">title</option>
				<option value="time">time</option>
				<option value="added">added</option>
		</select> </p>  <br>
		<ul>
			<li ng-repeat="recipe in searchResults">
				<p> Title: {{ recipe.title }} </p> 
				<p> Cooking Time  : {{ recipe.time }} </p>
				<p> Added Time : {{ recipe.added }} </p>
			</li>
		</ul>
	</div>
	<script src="./scripts/recipeCtrl.js"></script>

</body>
</html>
